{%extends 'accounts/body.html'%}
{% load static %}
{% load widget_tweaks %}
{% block body %}

<div class="my-4 container-fluid d-flex justify-content-center">
    <div class="card col-md-7">
        <div class="card-body">
            <div class="card-title h3">
                Password reset sent

            </div>
            <div class="card-text">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
<br>
<br>
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</div>
        </div>



</div>
</div>
{% endblock %}